body,
html {
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}

.container {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  .image-container {
    position: absolute;
    display: flex;
    width: 300%;
    height: 100%;
    animation-name: scroll;
    animation-duration: 16s;
    animation-iteration-count: infinite;

    .img {
      height: 100%;
      width: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 50% 50%;
    }

    .one {
      background-image: url("/img/one.jpg");
    }
    .two {
      background-image: url("/img/two.jpg");
    }
    .three {
      background-image: url("/img/three.jpg");
    }
  }
}

@keyframes scroll {
  0% {
    left: 0%;
  }
  25% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  75% {
    left: -100%;
  }
  100% {
    left: 0%;
  }
}
